@import '../../css/variables.scss';

.jump-to-top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0;
    width: 100%;
    transition: all 0.6s;
    z-index: 100000;
    pointer-events: none;

    .container {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    .jump-button {
        &.jump-button-mobile {
            bottom: 100px;

            @include respond-to(sm) {
                bottom: 21px;
            }
        }

        position: absolute;
        bottom: 21px;
        pointer-events: all;
        cursor: pointer;
        align-items: center;
        flex-direction: column;
        z-index: 10;
        opacity: 1;
        visibility: visible;
        display: flex;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 4px 4px 4px 4px;
        background: #000;
    }

    &.hidden {
        bottom: -100px;
        opacity: 0;
        visibility: hidden;
    }

    svg {
        margin-top: -5px;
        width: 30px;
        height: 30px;
        fill: $white;
    }

    span {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 400;
    }
}
