
# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
rollup.config.js
storybook-static
# since we are using typscript parser ignore eslintrc since we dont want to parse it
.eslintrc.js
*.stories.js
stories.js
dangerfile.js
styles.js
builder.js