
# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
lib
rollup.config.js
# since we are using typscript parser ignore eslintrc since we dont want to parse it
.eslintrc.js
*.stories.js
dangerfile.js