a.button,
button,
.button {
    position: relative;
    padding: 10px 25px;
    transition: all 0.4s;
    cursor: pointer;
    display: inline-block;
    transform: translateZ(0);
    border-radius: 2px;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    font-weight: 600;
    height: 40px;
    transition: all 0.4s ease;
    font-size: 14px;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &.default {
        color: $white;
        background-color: $black;
        height: auto;

        &:hover {
            color: $black;
            background-color: $white;
            border-color: $black;
            transform: scale(1.05);
        }
    }

    &.red {
        color: $white;
        background-color: $warning-red;
        height: auto;

        &:hover {
            color: $warning-red;
            background-color: $white;
            border-color: $warning-red;
            transform: scale(1.05);
        }
    }

    &.yellow {
        color: $black;
        background-color: $yellow;
        height: auto;

        &:hover {
            color: $black;
            background-color: transparent;
            border-color: $black;
            transform: scale(1.05);
        }
    }

    &.pink {
        background-color: $pink;
        color: $white;
        height: auto;

        &:hover {
            color: $pink;
            background-color: transparent;
            border-color: $pink;
            transform: scale(1.05);
        }
    }

    &.green {
        background-color: $green;
        color: $white;
        height: auto;

        &:hover {
            color: $green;
            background-color: transparent;
            border-color: $green;
            transform: scale(1.05);
        }
    }

    &.blue {
        color: $white;
        background-color: $blue;
        height: auto;

        &:hover {
            color: $blue;
            background-color: $white;
            border-color: $blue;
            transform: scale(1.05);
        }
    }

    &.small {
        padding: 5px 10px;
    }

    &.big {
        padding: 12px 30px;
    }

    &.loading {
        color: transparent !important;
        background-color: $blue !important;
        opacity: 1 !important;

        &.clear {
            background-color: transparent !important;
        }

        &::after {
            content: url('data:image/svg+xml;utf8,<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:url(%23XMLID_3_);stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}</style><linearGradient id="XMLID_3_" gradientUnits="userSpaceOnUse" x1="3.9823" y1="13.5647" x2="26.0177" y2="13.5647"><stop  offset="0" style="stop-color:%23d1af66"/><stop  offset="1" style="stop-color:%23d1af66"/></linearGradient><path id="XMLID_2_" class="st0" d="M22.5,21.7c1.6-1.8,2.5-4.1,2.5-6.7c0-5.5-4.5-10-10-10S5,9.5,5,15c0,2.8,1.1,5.3,3,7.1"/></svg>');
            position: absolute;
            opacity: 1;
            left: 50%;
            top: 50%;
            margin-left: -15px;
            margin-top: -15px;
            width: 30px;
            height: 30px;
            background-color: transparent;
            color: #fff;
            animation: ScaleIn1 2s infinite linear;
        }
    }
}

@keyframes ScaleIn1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
