.dropdown {
    position: relative;
    width: 100%;

    &--label {
        color: $black;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 5px;
        font-size: 12px;
    }

    &--header {
        cursor: pointer;
        border: 1px solid $blue;
        border-radius: 3px;
        position: relative;
        padding: 15px 10px;
        transition: all 0.4s ease;
        display: flex;
        align-items: center;
        justify-content: space-around;

        svg {
            width: 16px;
            height: 16px;
            transition: all 0.4s ease;
        }

        &-open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            svg {
                transform: rotateX(180deg);
                color: $blue;
            }
        }

        &--title,
        &--placeholder {
            font-size: 12px;
            text-align: left;
            font-weight: 400;
            width: 100%;
        }
    }

    &--list {
        position: absolute;
        width: 100%;
        border: 1px solid $blue;
        background-color: $white;
        border-top: none;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease;

        &-open {
            opacity: 1;
            visibility: visible;
        }
    }

    &--item {
        width: 100%;
        cursor: pointer;
        font-size: 12px;
        padding: 10px;
        font-weight: 400;
        white-space: nowrap;
        text-align: left;
        transition: all 0.4s ease;
        list-style-type: none;

        &.selected {
            color: $white;
            background-color: $blue;
        }

        &:hover {
            color: $white;
            background-color: $blue;
        }
    }
}
