// *************** FORMS & LABELS **************
label {
    display: inline-block;
    margin-bottom: 0.7rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    color: #999;
}

textarea {
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1.4rem !important;
    height: 80px;
}

input {
    padding: 0px 10px;
    height: 60px;
    border-radius: 5px;
    font-size: 1.4rem !important;

    &[disabled] {
        border-color: hsla(0, 0%, 80%, 0.5);
        color: #999;
    }
}

input,
textarea {
    width: 100%;
    border: 1px solid #ccc;
    background-color: $white;
    transition: all 0.3s ease;
    -webkit-appearance: none;

    &:focus {
        outline: 0;
        box-shadow: 0;
        border: 2px solid $dark-blue;
    }

    & + label {
        line-height: 1;
        font: inherit;
        position: relative;
        font-size: 1.4rem;
        font-weight: 700;
        padding: 0 6px;
        background-color: $white;
    }
}

input {
    & + label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        user-select: none;
        pointer-events: none;
    }

    .invalid {
        border: 1px solid #cc2f40;
    }
}

textarea {
    & + label {
        position: absolute;
        top: 10px;
        left: 0;
        user-select: none;
        pointer-events: none;
    }

    &.no-resize {
        resize: none;
    }
}

input.invalid ~ span:before,
textarea.invalid ~ span:before {
    position: absolute;
    top: calc(100% + 0px);
    padding: 0;
    left: 4px;
    padding-top: 3px;
    border-radius: 4px;
    content: attr(data-error);
    color: #cc2f40;
    display: block;
    font-size: 1rem;
    animation-name: ErrorShow;
    animation-duration: 1s;
    z-index: 1;

    @include md {
        font-size: 1.2rem;
    }
}

//Animated input + label
/* Hide the browser-specific focus styles */
.form-item-container {
    display: flex;
    flex-direction: column;

    @include sm {
        flex-direction: row;
        align-items: center;

        .form-item-floating {
            width: calc(100% - 20px);

            &:first-of-type {
                margin-right: 20px;
            }

            &.phone-type {
                width: calc(50% - 10px);
                margin-right: 0;
            }
        }
    }

    &.single {
        .form-item-floating {
            width: 100%;
            margin-right: 0;
        }
    }
}

.form-item-floating {
    position: relative;
    margin-bottom: 20px;

    input,
    textarea {
        background-color: transparent;

        & + label {
            transition: all 0.4s ease, background-color 0.3s ease-in-out 0.2s;
            transform-origin: 0 0;
        }

        &:focus {
            & + label {
                top: 0;
                transform: translateY(calc(-100% +9px)) scale(0.9);
                padding: 0 10px;
                background-color: $white;
            }
        }

        &:valid {
            & + label {
                top: 0;
                padding: 0 10px;
                transform: translateY(calc(-100% + 9px)) scale(0.9);
                background-color: $white;
            }
        }
    }
}

@keyframes ErrorShow {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
