.form-item-phone {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;

    .select-countries {
        height: 40px;
        flex-basis: 40%;
        &.disabled {
            pointer-events: none;

            .select-header {
                color: #999;

                svg {
                    fill: #999;
                    stroke: #999;
                }
            }
        }

        .select-header {
            height: 40px;
            border: none;
            border-right: 1px solid #ccc;
            color: #333;
            transition: all 0.4s;
            svg {
                transition: all 0.4s;
                fill: $black;
                stroke: $black;
                height: 18px;
                width: 18px;
            }

            .placeholder {
                font-size: 1.3rem;
            }
        }

        .select-item-title {
            width: 90%;
        }

        .select-list {
            border-color: #ccc;
            left: -1px; // for border-right on input
            width: calc(100% + 1px);
            overflow-x: hidden;
        }
    }

    .countries-input-holder {
        position: relative;

        input {
            border: none !important;
        }
    }
}
