.tooltip {
    position: relative;
    cursor: pointer;
    margin-left: 6px;
    border-radius: 100%;
    color: $white;
    background-color: $blue;
    font-size: 12px;
    font-weight: 700;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        left: 50%;
    }

    &::before {
        left: 50%;
        transform: translateX(-50%);
    }
}

.tooltip:hover:after {
    background: $blue;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    content: attr(data-tooltipTitle);
    position: absolute;
    bottom: calc(100% + 6px);
    transform: translateX(-50%) translateY(-15px);
    z-index: 98;
    animation: ShowTooltip 0.4s ease-out forwards;
    min-width: 300px;
    width: 100%;
}

.tooltip:hover:before {
    border: 1px solid;
    border-color: $blue transparent;
    border-width: 6px 6px 0 6px;
    bottom: calc(100% + 3px);
    content: '';
    position: absolute;
    z-index: 99;
    animation: ShowTooltipPeak 0.4s ease-in-out forwards;
}

@keyframes ShowTooltip {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(-3px);
    }
}

@keyframes ShowTooltipPeak {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
