//import order is very important!
@import 'bootstrap-reboot';
@import 'variables';
@import 'bootstrap-grid';
//libs
@import './libs/swiper';
@import './libs/animate';

//  Import custom scss libs
@import './components/input';
@import './components/buttons';
@import './components/checkbox';
@import './components/dialog';
@import './components/hero-box';
@import './components/loaders';
@import './components/notification-box';
@import './components/popup';
@import './components/select';
@import './components/swiper';
@import './components/tooltip';

html {
    // font-family: $font, sans-serif;
    font-size: $font-size-main;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

body {
    // font-family: $font, sans-serif;
    font-family: Gotham SSm A, Gotham SSm B, sans-serif;
    line-height: 1.231;
    height: 100%;
    color: $black;
    background-color: $white;
    display: flex;
    flex-direction: column;
    overscroll-behavior-y: none;
    -webkit-font-smoothing: antialiased;
    position: static;
    overflow-y: auto;

    &.no-scroll {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        overflow-y: scroll;
    }

    &::before {
        content: 'x-small';
        display: none;

        @include sm {
            content: 'small';
        }
        @include md {
            content: 'medium';
        }
        @include lg {
            content: 'large';
        }

        @include xl {
            content: 'x-large';
        }
    }
}

//Containers

//standard elements
p {
    font-size: 1rem;
    color: $black;
    font-weight: 300;
    line-height: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: $h-font, sans-serif;
    margin: 0.47em 0;
    font-weight: 300;
    color: $black;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.6rem;
}
h5 {
    font-size: 1.2rem;
}
h6 {
    font-size: 1.1rem;
}

b,
strong {
    color: $black;
    font-weight: 700;
}

.title {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;

    span {
        display: block;

        font-size: 0.5em;
        font-weight: 300;
    }

    &.underline {
        text-decoration: underline;
    }

    &.bold {
        font-weight: 700;
    }
}

//title colors

.title {
    &.red {
        color: $warning-red;
    }

    .blue {
        color: $blue;
    }
}

// form elements

/************************************** SECONDARY NAVIGATION - vertical navigation **************************************/

/***** DEFAULT TABLE *********/
.table .row {
    padding: 10px 0;
    border-bottom: 1px solid $light-grey;
    transition: all 0.3s;
}

.table .row:hover {
    background-color: transparent;
}

.table .thead {
    font-weight: 700;
    text-align: center;
    color: $white;
}

.respondTo {
    --size: xs;

    @include md {
        --size: md;
    }

    @include sm {
        --size: sm;
    }

    @include xl {
        --size: lg;
    }
}

.popup-enter {
    opacity: 0;
    transform: scale(1);

    .window {
        animation: ScaleIn 0.4s;
    }
}
.popup-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s, transform 0.4s;
}

.popup-exit {
    opacity: 1;

    .window {
        animation: ScaleIn 0.4s reverse;
    }
}
.popup-exit-active {
    opacity: 0;
    //transform: scale(0.9);
    transition: opacity 0.4s, transform 0.4s;
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}
