//new colors
$warning-red: #d71920;
$white: #fff;
$background: #f9fbfe;
$black: #000;
$light-grey: #a7b0b4;
$lighter-grey: #e7eaed;
$grey: #6d6e70;
$blue: #1693c5;
$dark-blue: #334a9c;
$yellow: #f5ef42;
$orange: #f79520;
$dark-orange: #cd7d1d;
$darker-blue: #1693c5;
$light-blue: #29a9e1;
$pink: #cc2f40;
//font setup
$h-font: "Roboto", sans-serif;
$title-font: "Roboto";
$font: "Poppins", sans-serif;
$font-size-main: 10px;
$mainColor: #000;

//MEDIA QUERIES
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

// Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+"px") {
        @content;
    }
}
